<h1>Angular::Notícias</h1>
<p>O <strong>Angular::Notícias</strong> é um software experimental desenvolvido com base no Framework Angular e utilizado como
projeto de desenvolvimento da disciplina Linguagem de Programação para a Web.</p>
<h2>Recursos</h2>
<p>Os principais recursos (ou funcionalidades) do software são:</p>
<ul>
  <li>Tela "home" apresenta a notícia de destaque e as três notícias mais recentes</li>
  <li>Tela "noticia" apresenta a lista de todas as notícias, ordenadas pela mais recente</li>
  <li>Tela de leitura da notícia permite ler o conteúdo de uma notícia</li>
  <li>Utilização de Bootstrap para a interface gráfica</li>
  <li>Utilização do Font-awesome para ícones</li>
  <li>Arquitetura do software baseada em serviços que consultam os dados das notícias</li>
  <li>Uso de rotas para organização das telas em URLs</li>
</ul>