/* You can add global styles to this file, and also import other style files */
label {
    display: block;
    font-weight: bold;
}

form div {
    margin-bottom: 10px;
}

.noticia .titulo {
    font-weight: bold;
}

.noticia .conteudo {

}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    color: black;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

tr:hover {
    background-color: #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.lista-noticias-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.lista-noticias-titulo {
    font-weight: bold;
    font-size: 1.5em;
}

.lista-noticias-item:hover {
    cursor: pointer;
    background-color: #fafafa;
}

.lista-noticias-info {
    color: gray;
}

.leitura-noticia-conteudo {
    padding-top: 20px;
    padding-bottom: 20px;
    white-space: pre-line; /* collapse WS, preserve LB */
}

.leitura-noticia-rodape {
    padding: 10px;
    background-color: #fafafa;   
    text-align: right;
}

#lista-pesquisar {
    padding-bottom: 10px;
}

#lista-pesquisar input {
    width: 100%;
}