/* You can add global styles to this file, and also import other style files */
label {
    display: block;
    font-weight: bold;
}

form div {
    margin-bottom: 10px;
}

.noticia .titulo {
    font-weight: bold;
}

.noticia .conteudo {

}
