<div class="container">
    <header class="row">
        
    </header>
    <div class="row">
        <div role="main" class="col-md-10">
            <div *ngIf="noticia">
                <h1>{{ noticia.titulo }}</h1>
                <div class="resumo text-muted mb-5">{{ noticia.resumo }}</div>
                <img class="mb-5 w-100" [src]="noticia.fotoUrl">
                <div class="leitura-noticia-info">
                  <i class="fa fa-user"></i>&nbsp; <strong>{{ noticia.autor }}</strong> &nbsp;&nbsp;
                  <i class="fa fa-calendar"></i>&nbsp; {{ noticia.data | date }}
                </div>
                <hr>
                <div class="leitura-noticia-conteudo">
                  {{ noticia.conteudo }}
                </div>
              </div>
        </div>
        <aside role="complementary" class="col-md-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" [src]="noticia.fotoUrl" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{ noticia.titulo }}</h5>
                  <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>
              </div>
        </aside>
    </div>
    <footer class="row">
        
    </footer>
</div>
